@font-face {
    font-family: "Hemi Head Rg";
    src: url("./hemi-head-426.bold-italic.ttf");
}

.root
{
	-fx-background-image: url("./guiBackground.jpg");
	-fx-background-size: stretch;
    -fx-font-family: "Hemi Head Rg";
}

.gm-root
{
	-fx-background-image: url("./guiGameMasterBackground.jpg");
    -fx-font-family: "Hemi Head Rg";
}

.audience-root {
    -fx-background-image: url("./guiAudienceViewBackground.jpg");
    -fx-background-size: stretch;
    -fx-font-family: "Hemi Head Rg";
}

.text-field
{
	-fx-background-color : transparent;
	-fx-font-size: 36pt;
	-fx-text-fill: transparent;
}

.text-field:focused 
{
    -fx-background-color: transparent;
    -fx-font-size: 36pt;
    -fx-text-fill: #ffffff;
}

.infoButton
{
	-fx-background-color: transparent;
	-fx-background-image: url("./info.png");
	-fx-background-size: stretch;
}

.previousButton
{
	-fx-background-color: transparent;
	-fx-background-image: url("./back.png");
	-fx-background-size: stretch;
}

.lockButton {
    -fx-background-color: transparent;
    -fx-background-image: url("./lock.png");
    -fx-background-size: stretch;
    -fx-cursor: hand;
}
.infoField {
    -fx-background-color: transparent;
    -fx-background-image: url("./errorBox.png");
    -fx-background-size: stretch;
}
.gm-text-heading {
    -fx-text-fill: #EFE3E3;
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 30pt;
}

.gm-text-heading-2 {
    -fx-font-family: "Hemi Head Rg";
    -fx-fill: #EFE3E3;
    -fx-font-size: 22.5pt;
}

.gm-text-game-status {
    -fx-font-family: "Hemi Head Rg";
    -fx-fill: #cb3827;
    -fx-font-size: 21pt;
    -fx-effect: dropshadow(gaussian, black, 2, 5, 2, 1);
}

.gm-game-buttons {
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 30pt;
    -fx-text-fill: #EFE3E3;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 5, 0);
    -fx-background-radius: 0;
}

.gm-start-button {
    -fx-background-color: #036506;
}

.gm-stop-button {
    -fx-background-color: #A5A5A5;
}

.gm-pause-button {
    -fx-background-color: #A5A5A5;
}

.gm-controls {
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 16pt;
    -fx-text-fill: #EFE3E3;
}

.gm-sensor-labels {
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 15pt;
    -fx-text-fill: #EFE3E3;
}

.gm-checkbox:selected > .box {
    -fx-background-color: #EFE3E3;
    -fx-border-color: #EFE3E3;
    -fx-border-width: 0;
}

.gm-checkbox > .box {
    -fx-background-color: #A5A5A5;
    -fx-border-color: #EFE3E3;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.gm-checkbox:selected > .box > .mark, .gm-checkbox:indeterminate > .box > .mark {
    -fx-background-color: #256530;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.gm-num-text-field {
    -fx-background-color: rgba(237,230,230,0.20);
    -fx-border-width: 0.75pt;
    -fx-border-color: #979797;
    -fx-border-radius: 6pt;
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: #E3E3E3;
}

.gm-num-text-field:focused {
    -fx-font-size: 10pt;
}

.gm-num-text-field-error {
    -fx-outline: none;
    -fx-border-color: #cb3827;
    -fx-effect: dropshadow(three-pass-box, #cb3827, 10, 0, 5, 0);
}

.gm-num-text-field-label-disabled {
    -fx-opacity: 0.6;
}

.gm-num-text-field-disabled {
    -fx-disabled: true;
}

.gm-setting-button {
    -fx-font-family: "Hemi Head Rg";
    -fx-font-size: 15pt;
    -fx-background-color: green;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 5, 0);
    -fx-background-radius: 0;
}

.gm-toggle-buttons {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 5, 0);
    -fx-background-radius: 0;
    -fx-font-size: 13pt;
}

.gm-toggle-button-on:focused{
    -fx-background-color: #078C0A;
}

.gm-toggle-button-off:focused{
    -fx-background-color: #CB3827;
}

.gm-vol-sliders {
    -fx-cursor: hand;
}

.promo-video {
    -fx-fill-width: true;
    -fx-max-width: 1100px;
}

.promo-video-text {
    -fx-font-size: 15pt;
    -fx-opacity: 0.7;
    -fx-text-fill: #EFE3E3;
}

.hof-label {
	-fx-font-family: "Hemi Head Rg";
    -fx-font-size: 65px;
    -fx-text-fill: #FFFDFD;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 4, 0, 3, 6);
}

.hof-col-label {
    -fx-font-size: 45px;
    -fx-text-fill: #BDBAB1;
}

.hof-table-value {
    -fx-font-size: 45px;
    -fx-text-fill: #EF8A7F;
}

.img-shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 100, 0, 0, 0);
}